html body {
  padding-top: 51px;
  margin: 0px;
}

.form-padding {
  margin: 8px;
}

.navbar .form-group {
  float: right;
  margin: 8px;
}

ul li.form-group {
  margin-top: 8px;
  list-style: none;
}

.navbar form {
  margin-bottom: 0px;
}

.sites {
  margin: 16px;
  font-size: 12px;
}
.sites td {
  padding: 4px;
}
.sites td.controls {
  padding-left: 20px;
}

.meta-data .form-group {
  float: left;
  padding-right: 14px;
}
.meta-data .form-wide {
  width: 97%;
  clear: both;
}
.meta-data .form-group label {
}
