{{ define "form" }}
  <form method="POST" action="/config/">
{{ end }}
{{ define "nav-form" }}
    <input type="submit" class="btn btn-default" value="Save" />
{{ end }}

{{ define "page" }}
<!-- Le input -->
  <div class="form-padding">
    <div class="form-group">
      <label for="site_url">Site URL:</label>
      <input type="text" name="site_url" class="form-control" placeholder="http://www.victryismine.com/" />
    </div>
    <div class="form-group">
      <label for="site_name">Site Name:</label>
      <input type="text" name="site_name" class="form-control" placeholder="Big G Bar and Grill" />
    </div>
  </div>
</form>
{{end}}
