{{ define "form" }}
{{ end }}
{{ define "nav-form" }}
{{ end }}

{{ define "page" }}
  <div class="meta-data">
    <h4>Pages</h4>
    {{ if .Message }}<div class="message alert alert-danger">{{ .Message }}</div>{{end}}
    Found: #{{ len .Pages }}
    <a href="/content/new" class="btn btn-default">New Page</a>
    <br/><br/>
    <table class="content-list table table-striped table-hover">
      <tr>
        <th>Path</th>
        <th>Version</th>
        <th>Updated</th>
        <th>Created</th>
        <th>&nbsp;</th>
      </tr>
    {{ $site := .Site }}
    {{ range $i, $elem := .Pages }}
      <tr>
        <td>
          {{ if $elem.Published }}
          <a href="{{ $elem.Url }}" target="_blank">{{ $elem.Path }}</a>
          {{ else }}
          {{ $elem.Path }}
          {{ end }}
        </td>
        <td>{{ $elem.CurrentVersion}}</td>
        <td>{{ $elem.UpdatedAt }}</td>
        <td>{{ $elem.CreatedAt }}</td>
        <td class="controls">
          <a href="/content/{{$elem.NiceKey}}" class="btn btn-default">Edit</a>
          {{if $elem.Published }}
            <form method="post" action="/content/unpublish">
              <!-- input type="submit" class="btn btn-warning" value="Unpublish" name="action" / -->
              <input type="hidden" name="key" value="{{$elem.Key.Encode}}" />
            </form>
          {{else}}
            <form method="post" action="/content/publish">
              <input type="submit" class="btn btn-warning" value="Publish" name="action" />
              <input type="hidden" name="key" value="{{$elem.Key.Encode}}" />
            </form>
            <a href="/content/preview/{{$site.Bucket}}/{{$elem.Path}}" target="_blank" class="btn btn-default">Preview</a>
          {{end}}
        </td>
      </tr>
    {{ end }}
    </table>
  </div>
  <form method="GET" action="/content/">
{{ end }}
