{{ template "header" }}
    <form method="POST" action="/content">
      {{ define "nav-form" }}
        <input type="submit" class="btn btn-default" value="Publish" />
        <button id="edit" class="btn btn-default" value="Edit">Edit</button>
        <script>
$(document).ready(function() {
    $('#edit').click(function() {
      // browser back
      history.go(-1);
      return false;
      });
    });
        </script>
      {{ end }}
      {{ template "nav" }}
    </form>

    {{ .Draft }}
  {{ template "footer" }}
