{{ define "files" }}
<html>
  <head>
    <link href="../victr_assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../victr_assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../victr_assets/css/victr.css" rel="stylesheet">
    <link href="../victr_assets/css/jquery.pagedown-bootstrap.css" rel="stylesheet">
    <script src="../victr_assets/js/jquery.min.js"></script>
  </head>
  <body>
          <form action="/files/" method="POST" enctype="multipart/form-data" id="upload">
            <input id="file-input" type="file" multiple="true" name="image">
            <input type="hidden" name="bucket" value="{{.Bucket}}" id="bucket" />
            <input type="hidden" name="path" value="{{.Path}}" id="path" />
            <input type="submit" name="sub" value="Upload" />
          </form>

          {{ range $i, $elem := .Images }}
            <div><a href="#" class="picker" x-data="{{$elem}}">{{ base $elem }}</a>
            </div>
          {{ end }}
          <script>
$(document).ready(function() {
$('.picker').click(function() {
  var image = 'http://{{.Bucket}}/' + $(this).attr('x-data');
  var md = '![Alt text]('+image+')';
  var parent = window.parent;
  var elem = $(parent.document.getElementById('wmd-input-0'))
  elem.val(elem.val().trim() +"\n" + md)
});
});
          </script>
  </body>
</html>
{{ end }}
