{{ define "content-form" }}
    {{ if .Message }}<div class="message alert alert-danger">{{ .Message }}</div>{{end}}
    {{ fg "site_id" .Errors "Site" }}
      <select name="site_id" class="form-control">
        {{ range $i, $elem := .Sites }}
        <option value="{{$elem.Key.Encode}}">{{$elem.Name}}</option>
        {{ end}}
      </select>
    {{ fg_close "site_id" .Errors }}

    {{ fg "theme" .Errors "Theme" }}
      <select name="theme" class="form-control">
        {{ range $i, $elem := .Themes }}
        <option value="{{$elem.Path}}" {{if $elem.Selected}}SELECTED{{end}}
          >{{$elem.Name}}</option>
        {{ end}}
      </select>
      {{ fg_close "theme" .Errors}}

    {{ fg "title" .Errors "Page Title" }}
      <input type="text" name="title" class="form-control" value="{{ .Content.Title }}" />
    {{ fg_close "title" .Errors }}

    {{ fg "path" .Errors "Publish to Path" }}
      <input type="text" name="path" class="form-control" placeholder="index.html" value="{{if .Page }}{{ .Page.Path }}{{end}}" />
      {{ fg_close "path" .Errors }}

    <div class="form-wide" style="padding-bottom: 5px;">
      <button data-toggle="modal" data-target="#imageManagerDialog" class="btn btn-primary btn-large">Image Manager</button>

      <!-- button type="button" class="btn btn-default" id="victr-image-browse">Upload Image</button>
      <span id="upload-status"></span -->
    </div>

    <div class="form-wide">
      <textarea id="pagedownMe" name="content" class="form-control" rows="10">{{ .Content.Markdown }}
      </textarea>
    </div>

    <!-- Le lift -->
    <script type="text/javascript">
$( document ).ready(function() {
  $("textarea#pagedownMe").pagedownBootstrap();

//  $('#upload').fileUpload();

  $('#imageManagerDialog').bind('show', function () {
    //   document.getElementById ("xlInput").value = document.title;
  });
});

function closeDialog () {
  $('#imageManagerDialog').modal('hide');
};
function okClicked () {
  //  document.title = document.getElementById ("xlInput").value;
  var converter = new Markdown.Converter();
  var html = converter.makeHtml($('#wmd-input-0').val());
  $('#wmd-preview-0')[0].innerHTML = html;
  closeDialog ();
};
    </script>
  </form>

  <div id="imageManagerDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a href="#" class="close" data-dismiss="modal">&times;</a>
          <h3>Image Manager</h3>
        </div>
        <div class="modal-body">
          <div class="divDialogElements">
            <iframe name="files" src="/files/?bucket={{.Bucket}}&path={{.ImagePath}}"></iframe>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" onclick="closeDialog ();">Cancel</a>
          <a href="#" class="btn btn-primary" onclick="okClicked ();">OK</a>
        </div>
      </div>
    </div>
  </div>

{{ end }}
