{{ define "form" }}
  <form method="POST" action="/sites/">
{{ end }}
{{ define "nav-form" }}
    <input type="submit" class="btn btn-default" value="Save" />
    <a href="/sites/" class="btn btn-cancel" value="Cancel">Cancel</a>
{{ end }}

{{ define "page" }}
  <div class="form-padding">
    {{ if .Message }}<div class="message alert alert-danger">{{ .Message }}</div>{{end}}
    <!-- List of Sites -->
    <table class="sites">
    {{ range $element := .Sites }}
      <tr class="site">
        <td><a href="/sites/{{ $element.Key.Encode }}">{{ $element.Name }}</a></td>
        <td><a href="{{ $element.URL }}">{{ $element.URL }}</a></td>
        <td class="controls"><a href="#" class="deleteLink btn btn-sm btn-warning" 
            onclick="deleteSite(this, '{{ $element.Key.Encode }}', '{{ $element.Name }}')">Delete?</a></td>
      </tr>
    {{ end }}
    </table>
    <script>
function deleteSite(elem, id, name) {
  bootbox.confirm("Are you sure you want to delete "+name+"?", function(result) {
    if (result == false) return;

    var url = "/sites/"+id;
    $.ajax({
      type: 'DELETE',
      url: url
    })
    .done(function(msg) {
      $(elem).parent().parent().remove();
    });
  });
}
    </script>

    <!-- Edit Form -->
    <div class="form-group">
      <label for="url">Site URL:</label>
      <input type="text" name="url" class="form-control" placeholder="http://www.victryismine.com/" 
        {{if .Edit}} value="{{ .Edit.URL }}"{{end}} />
    </div>
    <div class="form-group">
      <label for="name">Site Name:</label>
      <input type="text" name="name" class="form-control" placeholder="Big G Bar and Grill"
        {{if .Edit}} value="{{ .Edit.Name }}"{{end}} />
    </div>
    <div class="form-group">
      <label for="bucket">Cloud Storage Bucket:</label>
      <input type="text" name="bucket" class="form-control" placeholder="gs://tng-victr-pub"
        {{if .Edit}} value="{{ .Edit.Bucket }}"{{end}} />
    </div>
  </div>
</form>
{{end}}
